extends layout
block content
    .login-panel
        img(src="img/hello.jpg")
        include includes/login-form
    .register-panel
        img(src="img/hello.jpg")
        include includes/register-form
