extends layout
mixin message(name,articles)
    h1.greeting
        span=name
    if(articles)
        table.article
            each item in articles
                tr
                    td  
                        table.posts
                            tr
                                td
                                    span.hd= item.HEADING
                                    
                            tr
                                td
                                    span.cont= item.status
                                    span.blogwriter=item.username
append links
    li(style="float:right;")
        a(href="/loggout") Loggout                      
                        
block content
    table 
        tr
            td.profileimage
                img(src="img/usericon.png")
                .Dashboard
                    .user
                        +message(name,articles)
                
                    
                
    