extends layout
mixin message(articles)
    if(articles)
        table.article
            each item in articles
                tr
                    td  
                        table.posts
                            tr
                                td
                                    span.hd= item.fullname
                                    
                            tr
                                td
                                    span.cont= item.username
                                a(href= "userprofile/"+item.id class="val") #{item.username}
                                    p(style="font-size: 15px;") (view profile) 
                                    
append links
    li(style="float:right;")
        a(href="/loggout") Logout                      
                        
block content
    table 
        tr
            td.profileimage
                .Dashboard
                    .user
                        +message(articles)
                
                    
                
    